swagger: "2.0"
info:
  title: goatops.farm
  description: Service for obtaining your daily dose of facts about goats and other
    creatures
  version: ""
host: goatops.farm
consumes:
- application/json
- application/xml
- application/gob
produces:
- application/json
- application/xml
- application/gob
paths:
  /:
    get:
      tags:
      - static
      summary: Download ./static/home.html
      operationId: static#/
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
      - https
  /api/v1/facts:
    get:
      tags:
      - facts
      summary: list facts
      operationId: facts#list
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/FactsListResponseBody'
            required:
            - facts
      schemes:
      - https
  /api/v1/facts/random:
    get:
      tags:
      - facts
      summary: list-random facts
      operationId: facts#list-random
      parameters:
      - name: "n"
        in: query
        description: Number of random facts
        required: false
        type: integer
      responses:
        "200":
          description: OK response.
          schema:
            $ref: '#/definitions/FactsListRandomResponseBody'
            required:
            - facts
        "400":
          description: Bad Request response.
          schema:
            $ref: '#/definitions/FactsListRandomBadRequestResponseBody'
      schemes:
      - https
  /openapi.json:
    get:
      tags:
      - static
      summary: Download ./gen/http/openapi3.json
      operationId: static#/openapi.json
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
      - https
  /swagger-ui.html:
    get:
      tags:
      - static
      summary: Download ./static/swagger-ui.html
      operationId: static#/swagger-ui.html
      responses:
        "200":
          description: File downloaded
          schema:
            type: file
      schemes:
      - http
      - https
definitions:
  FactsListRandomBadRequestResponseBody:
    title: 'Mediatype identifier: application/vnd.goa.error; view=default'
    type: object
    properties:
      fault:
        type: boolean
        description: Is the error a server-side fault?
        example: true
      id:
        type: string
        description: ID is a unique identifier for this particular occurrence of the
          problem.
        example: 123abc
      message:
        type: string
        description: Message is a human-readable explanation specific to this occurrence
          of the problem.
        example: parameter 'p' must be an integer
      name:
        type: string
        description: Name is the name of this class of errors.
        example: bad_request
      temporary:
        type: boolean
        description: Is the error temporary?
        example: true
      timeout:
        type: boolean
        description: Is the error a timeout?
        example: true
    description: Bad request payload (default view)
    example:
      fault: false
      id: 123abc
      message: parameter 'p' must be an integer
      name: bad_request
      temporary: false
      timeout: true
    required:
    - name
    - id
    - message
    - temporary
    - timeout
    - fault
  FactsListRandomResponseBody:
    title: FactsListRandomResponseBody
    type: object
    properties:
      facts:
        type: array
        items:
          type: string
          example: Quibusdam perspiciatis dignissimos.
        description: List of random facts
        example:
        - Unde non impedit.
        - Magni ea eaque beatae.
    example:
      facts:
      - Dolorum modi sint.
      - Ipsum quae est ullam velit.
      - Quaerat perspiciatis rem ad.
      - Consequatur culpa veniam tenetur.
    required:
    - facts
  FactsListResponseBody:
    title: FactsListResponseBody
    type: object
    properties:
      facts:
        type: array
        items:
          type: string
          example: Quidem ab.
        description: List of facts
        example:
        - Cupiditate unde nesciunt doloribus.
        - Aspernatur expedita velit.
        - Illum rerum autem quia perspiciatis repudiandae accusantium.
    example:
      facts:
      - Quod velit pariatur.
      - Praesentium recusandae quae itaque similique.
      - Consectetur quis quia quos dolor sed.
    required:
    - facts
