{"swagger":"2.0","info":{"title":"goatops.farm","description":"Service for obtaining your daily dose of facts about goats and other creatures.","version":""},"host":"goatops.farm","consumes":["application/json","application/xml","application/gob"],"produces":["application/json","application/xml","application/gob"],"paths":{"/":{"get":{"tags":["static"],"summary":"Download ./static/home.html","operationId":"static#/","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http","https"]}},"/api/v1/creatures":{"get":{"tags":["creatures"],"summary":"list creatures","operationId":"creatures#list","responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/CreaturesListResponseBody","required":["creatures"]}}},"schemes":["https"]}},"/api/v1/creatures/{name}":{"get":{"tags":["creatures"],"summary":"get creatures","operationId":"creatures#get","parameters":[{"name":"name","in":"path","description":"Name of the creature","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/CreaturesGetResponseBody","required":["creature"]}},"404":{"description":"Not Found response.","schema":{"$ref":"#/definitions/CreaturesGetNotFoundResponseBody"}}},"schemes":["https"]}},"/api/v1/creatures/{name}/random-facts":{"get":{"tags":["creatures"],"summary":"random-facts creatures","operationId":"creatures#random-facts","parameters":[{"name":"n","in":"query","description":"Number of random facts","required":false,"type":"integer"},{"name":"name","in":"path","description":"Name of the creature","required":true,"type":"string"}],"responses":{"200":{"description":"OK response.","schema":{"$ref":"#/definitions/CreaturesRandomFactsResponseBody","required":["facts"]}},"400":{"description":"Bad Request response.","schema":{"$ref":"#/definitions/CreaturesRandomFactsBadRequestResponseBody"}},"404":{"description":"Not Found response.","schema":{"$ref":"#/definitions/CreaturesRandomFactsNotFoundResponseBody"}}},"schemes":["https"]}},"/openapi.json":{"get":{"tags":["static"],"summary":"Download ./gen/http/openapi3.json","operationId":"static#/openapi.json","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http","https"]}},"/swagger-ui.html":{"get":{"tags":["static"],"summary":"Download ./static/swagger-ui.html","operationId":"static#/swagger-ui.html","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http","https"]}}},"definitions":{"CreatureResponseBody":{"title":"CreatureResponseBody","type":"object","properties":{"facts":{"type":"array","items":{"type":"string","example":"Sed rerum quibusdam perspiciatis dignissimos molestias qui."},"description":"Facts about the creature","example":["Impedit quos magni ea.","Beatae recusandae."]},"name":{"type":"string","description":"Name of the creature","example":"Itaque similique et consectetur quis quia quos."}},"example":{"facts":["Quae est ullam velit quasi.","Perspiciatis rem ad repellat consequatur culpa.","Tenetur perspiciatis beatae fugiat nesciunt explicabo."],"name":"Dolorum modi sint."},"required":["name","facts"]},"CreaturesGetNotFoundResponseBody":{"title":"Mediatype identifier: application/vnd.goa.error; view=default","type":"object","properties":{"fault":{"type":"boolean","description":"Is the error a server-side fault?","example":false},"id":{"type":"string","description":"ID is a unique identifier for this particular occurrence of the problem.","example":"123abc"},"message":{"type":"string","description":"Message is a human-readable explanation specific to this occurrence of the problem.","example":"parameter 'p' must be an integer"},"name":{"type":"string","description":"Name is the name of this class of errors.","example":"bad_request"},"temporary":{"type":"boolean","description":"Is the error temporary?","example":false},"timeout":{"type":"boolean","description":"Is the error a timeout?","example":true}},"description":"get_not_found_response_body result type (default view)","example":{"fault":false,"id":"123abc","message":"parameter 'p' must be an integer","name":"bad_request","temporary":true,"timeout":true},"required":["name","id","message","temporary","timeout","fault"]},"CreaturesGetResponseBody":{"title":"CreaturesGetResponseBody","type":"object","properties":{"creature":{"$ref":"#/definitions/CreatureResponseBody"}},"example":{"creature":{"facts":["Vel sunt optio officiis aut quidem.","Ratione labore cupiditate unde nesciunt.","Voluptatem aspernatur expedita velit aut."],"name":"Ea saepe ut sed dolorem."}},"required":["creature"]},"CreaturesListResponseBody":{"title":"CreaturesListResponseBody","type":"object","properties":{"creatures":{"type":"array","items":{"$ref":"#/definitions/CreatureResponseBody"},"description":"List of creatures","example":[{"facts":["Vel sunt optio officiis aut quidem.","Ratione labore cupiditate unde nesciunt.","Voluptatem aspernatur expedita velit aut."],"name":"Ea saepe ut sed dolorem."},{"facts":["Vel sunt optio officiis aut quidem.","Ratione labore cupiditate unde nesciunt.","Voluptatem aspernatur expedita velit aut."],"name":"Ea saepe ut sed dolorem."}]}},"example":{"creatures":[{"facts":["Vel sunt optio officiis aut quidem.","Ratione labore cupiditate unde nesciunt.","Voluptatem aspernatur expedita velit aut."],"name":"Ea saepe ut sed dolorem."},{"facts":["Vel sunt optio officiis aut quidem.","Ratione labore cupiditate unde nesciunt.","Voluptatem aspernatur expedita velit aut."],"name":"Ea saepe ut sed dolorem."},{"facts":["Vel sunt optio officiis aut quidem.","Ratione labore cupiditate unde nesciunt.","Voluptatem aspernatur expedita velit aut."],"name":"Ea saepe ut sed dolorem."}]},"required":["creatures"]},"CreaturesRandomFactsBadRequestResponseBody":{"title":"Mediatype identifier: application/vnd.goa.error; view=default","type":"object","properties":{"fault":{"type":"boolean","description":"Is the error a server-side fault?","example":true},"id":{"type":"string","description":"ID is a unique identifier for this particular occurrence of the problem.","example":"123abc"},"message":{"type":"string","description":"Message is a human-readable explanation specific to this occurrence of the problem.","example":"parameter 'p' must be an integer"},"name":{"type":"string","description":"Name is the name of this class of errors.","example":"bad_request"},"temporary":{"type":"boolean","description":"Is the error temporary?","example":true},"timeout":{"type":"boolean","description":"Is the error a timeout?","example":true}},"description":"random-facts_bad_request_response_body result type (default view)","example":{"fault":false,"id":"123abc","message":"parameter 'p' must be an integer","name":"bad_request","temporary":false,"timeout":false},"required":["name","id","message","temporary","timeout","fault"]},"CreaturesRandomFactsNotFoundResponseBody":{"title":"Mediatype identifier: application/vnd.goa.error; view=default","type":"object","properties":{"fault":{"type":"boolean","description":"Is the error a server-side fault?","example":true},"id":{"type":"string","description":"ID is a unique identifier for this particular occurrence of the problem.","example":"123abc"},"message":{"type":"string","description":"Message is a human-readable explanation specific to this occurrence of the problem.","example":"parameter 'p' must be an integer"},"name":{"type":"string","description":"Name is the name of this class of errors.","example":"bad_request"},"temporary":{"type":"boolean","description":"Is the error temporary?","example":true},"timeout":{"type":"boolean","description":"Is the error a timeout?","example":true}},"description":"random-facts_not_found_response_body result type (default view)","example":{"fault":true,"id":"123abc","message":"parameter 'p' must be an integer","name":"bad_request","temporary":false,"timeout":true},"required":["name","id","message","temporary","timeout","fault"]},"CreaturesRandomFactsResponseBody":{"title":"CreaturesRandomFactsResponseBody","type":"object","properties":{"facts":{"type":"array","items":{"type":"string","example":"Ab sapiente esse dolor dolore."},"description":"Random facts about the creature","example":["Error rerum recusandae.","Ex alias itaque ullam.","Sit molestias voluptate id deserunt inventore ea.","Rerum aut esse quia mollitia."]}},"example":{"facts":["Temporibus vero.","Cupiditate et aut.","Vitae quod ut recusandae.","Itaque similique sit voluptatem."]},"required":["facts"]}}}