{"openapi":"3.0.3","info":{"title":"goatops.farm","description":"Service for obtaining your daily dose of facts about goats and other creatures","version":"1.0"},"servers":[{"url":"https://goatops.farm"},{"url":"http://localhost:8080"}],"paths":{"/":{"get":{"tags":["static"],"summary":"Download ./static/home.html","operationId":"static#/","responses":{"200":{"description":"File downloaded"}}}},"/api/v1/facts":{"get":{"tags":["facts"],"summary":"list facts","operationId":"facts#list","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string","example":"Recusandae vel dolorum."},"example":["Saepe ipsum quae est.","Velit quasi quaerat perspiciatis.","Ad repellat."]},"example":["Eius dolores perspiciatis ab.","Esse dolor dolore esse."]}}}}}},"/api/v1/facts/random":{"get":{"tags":["facts"],"summary":"list-random facts","operationId":"facts#list-random","parameters":[{"name":"n","in":"query","description":"Number of random facts","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of random facts","example":10,"format":"int64"},"example":10}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"array","items":{"type":"string","example":"Culpa veniam."},"example":["Beatae fugiat.","Explicabo nihil."]},"example":["Rerum recusandae blanditiis ex.","Itaque ullam voluptatem sit molestias."]}}},"400":{"description":"Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"id":"3F1FKVRR","message":"Value of ID must be an integer","name":"bad_request"}}}}}}},"/openapi.json":{"get":{"tags":["static"],"summary":"Download ./gen/http/openapi3.json","operationId":"static#/openapi.json","responses":{"200":{"description":"File downloaded"}}}},"/swagger-ui.html":{"get":{"tags":["static"],"summary":"Download ./static/swagger-ui.html","operationId":"static#/swagger-ui.html","responses":{"200":{"description":"File downloaded"}}}}},"components":{"schemas":{"Error":{"type":"object","properties":{"fault":{"type":"boolean","description":"Is the error a server-side fault?","example":true},"id":{"type":"string","description":"ID is a unique identifier for this particular occurrence of the problem.","example":"123abc"},"message":{"type":"string","description":"Message is a human-readable explanation specific to this occurrence of the problem.","example":"parameter 'p' must be an integer"},"name":{"type":"string","description":"Name is the name of this class of errors.","example":"bad_request"},"temporary":{"type":"boolean","description":"Is the error temporary?","example":false},"timeout":{"type":"boolean","description":"Is the error a timeout?","example":false}},"example":{"id":"3F1FKVRR","message":"Value of ID must be an integer","name":"bad_request"},"required":["name","id","message","temporary","timeout","fault"]}}},"tags":[{"name":"static","description":"Static pages and site assets"},{"name":"facts","description":"The facts service provides you with important facts about goats and other creatures."}]}