{"swagger":"2.0","info":{"title":"goatops.farm","description":"Service for obtaining your daily dose of facts about goats and other creatures","version":""},"host":"goatops.farm","consumes":["application/json","application/xml","application/gob"],"produces":["application/json","application/xml","application/gob"],"paths":{"/":{"get":{"tags":["static"],"summary":"Download ./static/home.html","operationId":"static#/","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http","https"]}},"/api/v1/facts":{"get":{"tags":["facts"],"summary":"list facts","operationId":"facts#list","responses":{"200":{"description":"OK response.","schema":{"type":"array","items":{"type":"string","example":"Similique et consectetur quis quia quos dolor."}}}},"schemes":["https"]}},"/api/v1/facts/random":{"get":{"tags":["facts"],"summary":"list-random facts","operationId":"facts#list-random","parameters":[{"name":"n","in":"query","description":"Number of random facts","required":false,"type":"integer"}],"responses":{"200":{"description":"OK response.","schema":{"type":"array","items":{"type":"string","example":"Rerum quibusdam perspiciatis dignissimos molestias qui unde."}}},"400":{"description":"Bad Request response.","schema":{"$ref":"#/definitions/FactsListRandomBadRequestResponseBody"}}},"schemes":["https"]}},"/openapi.json":{"get":{"tags":["static"],"summary":"Download ./gen/http/openapi3.json","operationId":"static#/openapi.json","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http","https"]}},"/swagger-ui.html":{"get":{"tags":["static"],"summary":"Download ./static/swagger-ui.html","operationId":"static#/swagger-ui.html","responses":{"200":{"description":"File downloaded","schema":{"type":"file"}}},"schemes":["http","https"]}}},"definitions":{"FactsListRandomBadRequestResponseBody":{"title":"Mediatype identifier: application/vnd.goa.error; view=default","type":"object","properties":{"fault":{"type":"boolean","description":"Is the error a server-side fault?","example":false},"id":{"type":"string","description":"ID is a unique identifier for this particular occurrence of the problem.","example":"123abc"},"message":{"type":"string","description":"Message is a human-readable explanation specific to this occurrence of the problem.","example":"parameter 'p' must be an integer"},"name":{"type":"string","description":"Name is the name of this class of errors.","example":"bad_request"},"temporary":{"type":"boolean","description":"Is the error temporary?","example":true},"timeout":{"type":"boolean","description":"Is the error a timeout?","example":true}},"description":"list-random_BadRequest_response_body result type (default view)","example":{"fault":true,"id":"123abc","message":"parameter 'p' must be an integer","name":"bad_request","temporary":false,"timeout":false},"required":["name","id","message","temporary","timeout","fault"]}}}